

.box
{
    background-color: #ffe6ee;
    margin: 10px auto;
    border: 1px solid salmon;
    padding: 10px;
    width: 500px;
    height:500px;
    border-radius: 10px;

}


.box h1{
    color:red;
    text-align: center;
    
}

.box p{
    color:black;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.parent img{
    height: 150px;
    width:100px;
}

.parent{
    display: flex;
    gap:10px;
    justify-content:space-between;
    flex-wrap: wrap;
}

.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
body::before {
  content: "🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍🩷🎀🌸💗💓🌷🫀🤍";
  white-space: pre-wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  line-height: 1.2;
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}
